@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

* {
  font-family: "Open Sans", sans-serif;
}
body{
  background-image: url('./background.jpg');
  background-size: cover;
}

.container {
  margin-left: 25.5%;
  margin-top: 4.5em;
  text-align: center;
  /* margin-top: 20%; */
  width: 600px;
  height: 500px;
  padding: 1em 3em 1em 3em;
  border-radius: 20px;
  background: transparent;
  border-radius: 30px;
  box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
  backdrop-filter: blur(10px);
}

h1 {
  font-size: 2.5em;
  color: #ffffff;
  margin-top: 3em;
  margin-bottom: 3em;
}


button {
  margin-bottom: 3em;
  padding: 1em 2em 1em 2em;
  background: transparent;
  border-radius: 20px;
  border: 0px solid;
  border: 3px solid white;
  color: white;
  font-size: 1em;
  cursor: pointer;
  font-weight: bold;
  transition: all 0.5s;
}
button:hover{
  background-color: white;
  color: black;
}

.twitter{
  margin-left: 1em;
  border-color: #1DA1F2;
  color: #1DA1F2;
}

.twitter:hover{
  background-color: #1DA1F2;
}