body {
  background-color: rgb(250, 250, 250);
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.img {
  width: 370px;
  margin-top: 50px;
}

@media (max-width: 770px) {
  .container {
    margin: 0 10%;
  }

  .img {
    width: 100%;
  }
}

footer {
  color: white;
  padding: 10px;
  border-radius: 10px;
  background: linear-gradient(
    to right,
    white,
    rgb(29, 29, 29),
    rgb(141, 140, 141),
    red,
    rgb(0, 252, 0),
    green,
    blue,
    rgb(2, 192, 255),
    rgb(141, 140, 141),
    rgb(29, 29, 29),
    white
  );
  font-family: Verdana, Arial, Helvetica, sans-serif;
  margin: 20px;
}
